@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: cyan;
    --secondary: #e66b70;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    position: relative;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #eee;
    /* background-color: black; */
    /* overflow: hidden; */
}
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 40px;
    /* background-color: beige; */
    z-index: 5000;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li a{
    color: #eee;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: .4px;
}
nav i{
    font-size: 16px;
}
a:hover{
    color: var(--primary);
}
.logo img{
    /* height: 150px; */
    width: 300px;
}
.banner{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.swiper{
    width: 100%;
    height: 100%;
    z-index: 11 ;
}
.swiper-slide{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 40px;
    position: relative;
}
.content >*{
    width: 50%;
    position: relative;
    height: 100%;
}
.title{
    display: flex;
    /* left: 0; */
    flex-direction: column;
    justify-content: center;
    /* text-align: left; */
}
#title h1{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
}
#sub-title p{
    font-size: 20px;
    text-transform: capitalize;
}
.rating{
    margin: 50px 0;
    font-size: 12px;
}
.rating span{
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
}
.rating .fa-solid{
    color: yellow;
}
.navigation-btn{
    display: flex;
    gap: 25px;
}

.swiper-button-prev,
.swiper-button-next{
    position: relative !important;
    color: #eee !important;
    height: 20px !important;
    width: 20px !important;
    margin: 0 !important;
    right: unset !important;
    left: unset !important;
    top: unset !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    color: var(--primary) !important;
}
.swiper-button-next:after{
    content: "\f061" !important;
}
.swiper-button-prev:after{
    content: "\f060" !important;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    font-family: 'Font Awesome 6 Free' !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper-pagination{
    height: 20px !important;
    bottom: 100px !important;
    width: 100%;
}
.swiper-pagination-bulllet{
    width: 50px !important;
    background-color: #eee !important;
    place-content: .6;
    height: 3px !important;
    border-radius: 10px !important;
    margin: 0 3px !important;

}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: justify;
}
#desc p{
    font-size: 20px;
    max-width: 300px;
    line-height: 1.3;
    margin: 40px 0;
}
button{
    font-family: "Lato";
    background: transparent;
    border-radius: 25px;
    border: none;
    color: #eee;
    text-transform: uppercase;
    font-size: 12px !important;
    cursor: pointer;
    transform: all .3s;
}
button >*{
    margin-right: 10px;
}
.btn-primary{
    background-image: linear-gradient(to left, var(--primary), var(--secondary));
    padding: 13px 45px;
    transition: all .7s;
}
.btn-primary:hover{
    scale: 1.1;
    background-image: none;
    border: 2px solid var(--primary);
    color: var(--primary);
}
.btn-sec{
    border: 2px solid #eee;
    padding: 10px 20px;
    margin-right: 10px;
}
.btn-sec:hover{
    background-color: rgba(0, 0, 0, .534);
    border-color: var(--primary);
    color: var(--primary);
}

.thumbsSwiper{
    box-sizing: border-box;
    padding: 10px 0;
    max-width: 90%;
    overflow: unset !important;
}
.thumbsSwiper .swiper-slide{
    width: 25%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 20px;
}
.thumbsSwiper .swiper-slide{
    border-radius: 15px;
    transition: transform .7s;
}
.thumbsSwiper .swiper-slide img{
    border-radius: 15px;
}
.thumbsSwiper .swiper-slide:hover{
    transform: translateY(-26%);
}