/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #0A142A;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 32px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main.payment-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80vh;
}

.movie-details
{
    
    padding: 20px;
    background: linear-gradient(#1a2980,#26d0ce);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.payment-form {
    
    padding: 20px;
    /* background: linear-gradient(#2bc0e4,#eaecc6); */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
}

.movie-info {
    text-align: center;
}

.movie-info img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.prices {
    margin-top: 20px;
}

.prices p {
    margin-bottom: 10px;
}

.payment-form h2 {
    margin-bottom: 20px;
}

.payment-form label {
    /* display: block; */
    margin-bottom: 5px;
}
.payment-method select {
height: 37px;
font-size: 13px;
}

.payment-form select,
.payment-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-form button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#payment option{
    display: inline-block;
    height: 200px;
}
