

/* Basic styling */
/* Existing CSS styles */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    margin-top: 20px;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 32px;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    color: cyan;
}

main {
    padding: 20px;
}

.banner {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.featured {
    margin-top: 20px;
}

.genres {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2{
    color: white;
    font-size: xx-large;
}

body{
    background-color: #0A142A;
}

/* Existing CSS styles */

/* Updated styles for movie cards */
.movie-card {
    /* border: 1px solid #db9418; */
    border-radius: 8px;
    overflow: hidden;
    width: 300px; /* Set the width of the card */
    height: 560px; /* Set the height of the card */
    margin: 10px; /* Add margin for spacing between cards */
     display: inline-block; /*Display cards in a row */
    vertical-align: top; /* Align cards to the top of the row */
    box-sizing: border-box; /* Include padding and border in the width and height */
    
}

.movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image fills the card without stretching */
}

.movie-details {
    padding: 20px;
}

.movie-details h3 {
    margin-bottom: 10px;
    color: rgb(36,178,192);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie-details p{
    color: white;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:  #0A142A;
    border-radius: 10px;
}

.actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button {
    background: linear-gradient(to right, #314755 0%, #1a6f97 51%,#314755 100%);
    color: #fff;
}

.buy-button {
    background:linear-gradient(#1A2980,#26D0CE);
    color: #fff;
}
.rent-button {
    background:linear-gradient(#1A2980,#26D0CE);
    color: #fff;
}
#watchlist{
    width: 100%;
    text-align: center;
    align-items: center;
}